.landing-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.legal1 {
  width: 82%;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-4);
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

.legal2 {
  width: 52%;
  height: min-content;
  margin: 0 auto;
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-2);
  text-align: center;
  font-style: normal;
  line-height: normal;
}

.legal2 > p {
  margin: 0;
}

.legal2 > p > span {
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-2);
  font-style: normal;
  line-height: normal;
}

.rectangle-phone-input {
  height: 55px;
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: white;
  border-radius: var(--border-radius);
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rectangle-phone-input-left-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.phone-image {
  width: 18px;
  height: 33.299px;
  flex-shrink: 0;
}

#phoneNumber {
  color: var(--text-color-secondary);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-6);
  font-style: normal;
  line-height: normal;
  border: none;
  outline: none;
}

.checkmark {
  width: 32.681px;
  height: 33.88px;
  flex-shrink: 0;
}

#continueBtn {
  width: 360px;
  height: 75px;
  border-radius: var(--border-radius);
  border: none;
  flex-shrink: 0;

  color: var(--text-color);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-7);
  background: var(--background-btn1);
  letter-spacing: var(--letter-spacing-1);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.check-terms-container {
  width: 81%;
  height: 30px;
  margin: 0 auto;
}

.check-terms-label {
  width: 100%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.check-terms-label input {
  display: none;
}

.check-terms-checkbox {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #000000;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  flex-shrink: 0;
}

#checkImage {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 11px;
  flex-shrink: 0;
  fill: #fff;
  transform: translate(-50%, -50%);
}

#customCheckbox:checked + .check-terms-container #checkImage {
  display: block;
}

.legal3 {
  width: 87%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 125% */
  letter-spacing: 0.24px;
}

.footer {
  margin: 0 auto;
  display: flex;
}

.footer-option {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 11px; /* 91.667% */
  letter-spacing: 0.24px;
  text-decoration-line: underline;
}

.footer div:not(:last-child)::after {
  content: "|";
  margin: 0 10px;
}
